:root {
    --color-primario: #4CBE23;
    --color-secundario: #f58a07;
    --color--pbase: #9de682;
}
main{
    height: 700px;
}
.contenedor-registro{
    background-color: #F5F3E0;
    margin-top: 5%!important;
    padding: 30px!important;
    padding-top: 15px!important;
    width: 700px!important;
}
.encabezado-card{
    background-color: var(--color-secundario)!important;
    color: #ffffff;
}
.boton-registrarse{
    background-color: var(--color-secundario)!important;
}
.boton-registrarse a{
    color: #ffffff;
    text-decoration: none;
}
.boton-registrarse a:hover{
    color: #ffffff;
    text-decoration: none;
}