main{
    height: 700px;
}
.contenedor-registro{
    background-color: #F5F3E0;
    margin-top: 5%!important;
    padding: 30px!important;
    padding-top: 15px!important;
    width: 700px!important;
}